.contato {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px 150px;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

& .email {
  align-items: center;
  display: flex;
  gap: 60px;
  padding: 20px 150px;
}